.dropdown{
	padding: 20px;
	padding-left: 55px;
	color: #1865f2;
    font-weight: bold;
    font-size: 25px;
}

    .dpbtn{
            background-color: white;
            font-size: 15px;
    }

    @media only screen and (max-width: 980px){
    .dpbtn{
        display: none;
        padding-left: 0;
        
    }
    .imgsas3{
        align-items: center;
    }
    .searchbox{
        display:none;
    }
    .searchicon{
        float: center;
    }

    .two-blocks{
        display: inline-block;
    }
    .images3{
        height: 12%;
    bottom: 10px;
    width: 178px;
    left: calc(50% - 75px);
    }
    .imganjali{
        align-items: center;
    }
}
.searchbox{
    font-size: 15px;
    
}

::placeholder{
    color: #1865f2;
}
input.searchbox {
    background-color:#4745451a;
    color:blue;
    border-color: white;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border-bottom-left-radius: 5px;
    border-style:solid;
    
    
}
@media (min-width: 992px){
.checking{
    width: 33.33333333%;
    height: 50px;

}
.two-blocks{
    display: block;
}
}
.isthis{
    font-size: 22px;
    border-color: inherit;
    background-color: #312f2f1a;
    
    
}
.searchicon{
    font-size: 20px;
    
}

.logo{
	margin-top: 15px;
	margin-left: 95px;
	cursor: pointer;
}
.navbar
  { display:inline-block;
    
  	 }
  .fa-search{
      color: gray;
  }
  .navbar ul{
  	display: inline-flex;
    float: right;
    
  }
  .navbar ul li{
  	padding: 15px 35px;
  	text-align: center;
      cursor: pointer;
      list-style: none;
       
  }
  .listnav{
      color: #1865f2;
      font-size: 15px;
      
  }


  .image1{
  	margin-left: 0px;
  	margin-bottom: 30px;
  }
  


  

  .two-blocks{
  	display: flex;
  }

  .h3text{
  	font-size: 18px;
  }

  .btn-primary{
  	padding-left: 20px;
  	margin-left: 10px;
  }
.second-section{
    background-color: #F7F5F4;
}

  .second-section-heading{
      
      text-align: center;
      
    font-family: 'Times New Roman', Times, serif;
  }
  .down-arrow{
      padding-bottom:40px;
      cursor: pointer;
  }

  .secimgs1{
    float: left;
  }

  .secimgs2{
      margin-top: 20px;
  }
  

  .secimgs3{
      margin-bottom: 100px;
    float: right;
  }
  
  .smallpara{
      font-size: 16px;
  }
  .roman{
      font-family: Lato, 'Noto Sans', sans-serif !important;
  }

  .second-para{
      max-width: 500px;
      font-size: 18px;
  }
  .small-line{
      font-size: 12px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .teacherbtn{
      font-size: 25px;
  }
  .textafterimage5{
      max-width: 600px;
      padding-left: 180px;
      margin-top: 120px;
  }
  .learnerimg{
      padding-right: 100px;
      
  }

  .quote{
      background-color: #F7F5F4;
  }
  .quote-para{
      text-align: center;
      font-size: 30px;
  }
  
  .anjali{
      font-size: 20px;
      text-align: right;
      padding-top: 20px;

      
      font-family: 'Times New Roman', Times, serif;
  }
  .imganjali{
      padding-left: -10px;
  }
  .placename{
      font-size: 15px;
      margin-left: 400px;
      font-family: italic;
  }
  
  .deservebtn{
    font-size: 18px;  
    width: 50%;
    height: 15%;
  }
  .deserve-para{
      max-width: 500px;
      font-family: 'Times New Roman', Times, serif;
      font-size: 52px;
  }
  

  .join{
      font-size: 40px;
      text-align: center ;
      font-family: 'Times New Roman', Times, serif;

  }
  .bgbtn{
    background-image: url("bg.PNG");
}
@media only screen and (max-width: 980px){
    .joinbtn{
        
        font-size: 18px;  
      width: 20%;
      height: 50px;
      text-align: center;
      padding-right: 500px;
    }
    .finallyimg{
        width: 110%;
    }
    
    .imgs{
        padding-top: 30px;
        padding-left: 5px;
        align-items: center;
    }
}

  .joinbtn{
      margin-left: 550px;
      font-size: 18px;  
    width: 20%;
    height: 50px;
    text-align: center;
  }
  .incsize{
    width: 240px;
    height: 50px;
    font-size: 17px;
}
  .bfrftr{
    background-color: #F7F5F4;
    
  }
  .style-text-abv-ftr{
      
      color: #2D444E;
      font-family: 'Source Serif Pro', serif;
      font-size: 36px;
  }
  .padhere{
      margin-top: 100px;
  }
 .imgs{
     padding-left: 55px;
 }
 .hrinimg{
     width:75%;
     background-color: black;
      }

  .footer{
      background-color: #0a2a66;
      height:650px;
      margin-top:100px;
  }
  .footer-para{
      padding-top: 30px;
      color:#8295BA;
      max-width: 440px;
      font-size: 20px;
      float: left;
      margin-left: 90px;
      line-height: 30px;
     
  }



.n1{width: 15.66%;
    line-height: 34px;
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
    
}

.n1 ul{
    padding-top: 15px;
    float: left;
    
    
}
.n1 ul li{
    color: white;
    font-size: 12px;
    list-style: none;
    
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
.lang{
    float: left;
    color: rgb(143, 133, 238);
    font-size: 12px;
    padding-left: 90px;
    
}
.eng{
    color: white;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    padding-left: 7px;
    float: left;
}

._jw8wag{
    width: 26%;
    height: auto;
    
}

.heading-footer{
    color: rgb(129, 129, 189);
}
.countryname{
    padding-left: 5px;
    
}
.country{
    padding-top: 11px;
}
.footer-line{
    width:1170px;
    
    
}
.iconsfb{
    color:#ffffff;
    opacity: 0.6;
    font-size: 185%;
    padding-left: 603px;
    
    
}

.cop{
    margin-bottom: 5px;
}

.makewhite{
    color: rgb(235, 232, 243);
}

html,body{
    
        width: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }

